@import './theme/fonts.scss';
@import './theme/theme.scss';
@import './theme/viewport.scss';

* {
  transition: color 0.1s ease-in-out;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

body {
  background-color: color('background');
  color: color('forground');
}
